* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.skip-content {
  text-align: center;
}

.skip-content a {
  text-decoration: none;
}

.skip-focus-offset {
  position: absolute;
  left: -50%;
  transform: translateY(-100%);
}

.skip-focus-offset:focus {
  position: relative;
  left: 0%;
  transform: translateY(50%);
}

.skip-focus-offset {
  transition: transform 0.9s;
}

nav {
  padding: 10px;
  display: inline-block;
  width: 100%;
  background-color: black;
}

.title {
  text-align: center;
  padding: 40px;
}

.title h1 {
  font-size: 400%;
}

.title h2 {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 130%;
}

.main-content {
  text-align: center;
}

.flex-list {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.flex-list li a {
  text-decoration: none;
  color: aliceblue;
}

.non-main-filler {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: black;
  color: aliceblue;
}

.non-main-filler p {
  margin: 5%;
  padding: 10px;
}
