* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  padding: 10px;
  display: inline-block;
  width: 75%;
  background-color: black;
}

.title {
  text-align: center;
  padding: 40px;
}

.main-content {
  text-align: center;
}

.flex-list {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.flex-list li a {
  text-decoration: none;
  color: aliceblue;
}
